<div class="text-center banner">
  <div class="row banner-div">
    <div class="col left-banner">
      <div class="banner-description">
        <h1 class="title">Dust The Developer</h1>
        <br>
        <p>Hello, my name is Dustin and I'm a full-stack web-developer from San Diego, CA currently living in Paris.</p>
        <span><%= link_to "", contact_path, class: "contact-btn" %></span>
      </div>
    </div>
    <div class="col right-banner">
      <%= image_tag("gorickyourself.png", class: "rick") %>
    </div>
  </div>
</div>
<div class="title-skill">
</div>
<div class="skill-container">
  <div class="row">
    <div class="col-7">
      <ul class="skill-ball-unordered">
        <li class="skill-ball ball-1 fade-in">
          <%= image_tag("heroku.png", class: "heroku-pic") %>
        </li>
        <li class="skill-ball ball-2 fade-in">
          <%= image_tag("rails.png", class: "rails-pic") %>
        </li>
        <li class="skill-ball ball-3 fade-in">
          <%= image_tag("css.png", class: "css-pic") %>
        </li>
        <li class="skill-ball ball-4 fade-in">
          <%= image_tag("html.png", class: "html-pic") %>
        </li>
        <li class="skill-ball ball-5 fade-in">
          <%= image_tag("javascript.png", class: "java-pic") %>
        </li>
        <li class="skill-ball ball-6 fade-in">
          <%= image_tag("ruby.png", class: "ruby-pic") %>
        </li>
        <li class="skill-ball ball-7 fade-in">
          <%= image_tag("bootstrap.png", class: "boot-pic") %>
        </li>
        <li class="skill-ball ball-8 fade-in">
          <%= image_tag("postgresql.png", class: "post-pic") %>
        </li>
      </ul>
    </div>
    <div class="col-5">
      <div class="skill-right-title">
        <h2>My story</h2>
      </div>
      <br>
      <div class="skill-right-para">
        <p>After graduating from San Diego State Unoversity with a degree in Business Finance I found a job in sales at a start up based in Santa Monica called BloomNation. It was there where I was first became intrigued with coding. After leaving BloomNation and travelling for some time I moved to France and began to think more seriosuly about coding. I started by taking online courses and after a few months of that decided to enroll at Le Wagon, Europes top coding bootcamp. It was a life changing experience where I truly found what I wanted to do with my life. Outside of web development I enjoy skateboarding, surfing, and traveling.</p>
      </div>
    </div>
  </div>

</div>
