<div class="text-center pt-4 banner">
  <div class="row m-4 banner-div">
    <div class="col left-banner">
      <div class="banner-description">
        <h1 class="title">Dust The Developer</h1>
        <br>
        <p>Hello, my name is Dustin and I'm a full-stack web-developer from San Diego, CA currently living in Paris.</p>
        <%= link_to "Contact Me", contact_path, class: "btn btn-flat" %>
      </div>
    </div>
    <div class="col right-banner">
      <%= image_tag("gorickyourself.png", class: "rick") %>
    </div>
  </div>
</div>
<div class="title-skill">
<h1>My Specialties</h1>
</div>
<div class="skill-container">
  <ul>
    <li class="skill-ball ball-1 fade-in">
      <%= image_tag("heroku.png", class: "heroku-pic") %>
    </li>
    <li class="skill-ball ball-2 fade-in">
      <%= image_tag("rails.png", class: "rails-pic") %>
    </li>
    <li class="skill-ball ball-3 fade-in">
      <%= image_tag("css.png", class: "css-pic") %>
    </li>
    <li class="skill-ball ball-4 fade-in">
      <%= image_tag("html.png", class: "html-pic") %>
    </li>
    <li class="skill-ball ball-5 fade-in">
      <%= image_tag("javascript.png", class: "java-pic") %>
    </li>
    <li class="skill-ball ball-6 fade-in">
      <%= image_tag("ruby.png", class: "ruby-pic") %>
    </li>
    <li class="skill-ball ball-7 fade-in">
      <%= image_tag("bootstrap.png", class: "boot-pic") %>
    </li>
  </ul>
</div>
